<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>RoR Test task</title>    
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/functions.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body style="background-image: url(/static/images/bkgraund.png); background-attachment: fixed">
  <div class="container" align=center>
		<br><br><br>
      <h1>Simply Todo List</h1>
      <p>for Ruby on Rails courses</p>

  </div> 
<br>
<br>
<br>	
	
	
	<div class="container" id="projects" align=center>
	{% if project_list %}
		
		{% for project in project_list %}
		<div id="projectSpan{{project.id}}" align=left style="-webkit-border-bottom-right-radius: 20px;-webkit-border-bottom-left-radius: 20px;-moz-border-radius-bottomright: 20px;-moz-border-radius-bottomleft: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;overflow: hidden;margin-bottom:40px; background-color:#05F; width:800px">
			<form id="projectFormEdit{{project.id}}" action="editproject/" actionDelete="deleteproject/" style="margin:15px">
			<div style="display:table-row">
				<div style="display:table-cell; padding-right:20px"><img src="/static/images/projecticon.png"></div>				
				<div id="project{{project.id}}" name="projectName" style="display: table-cell; width:570px; color:white; font-size:16pt; font-weight: bold">{{project.name}}</div>
				<span class="btn-group" style="display: table-cell; padding-left:20px">
					<button class="btn" id="project{{project.id}}buttonS" type="submit" onclick="editProject({{project.id}});" disabled><img src="/static/images/save.png" alt="Save"></button>
					<button class="btn" id="project{{project.id}}buttonE" type="button" onclick="enableEdit('project{{project.id}}');"><img src="/static/images/edit.png" alt="Edit" ></button>
					<button class="btn" type="button" onclick="deleteProject('{{project.id}}');"><img src="/static/images/delete.png" alt="Delete"></button>
				</span>				
			</div>
			</form>
				
		
		
			<div>
				<form id="projectForm{{project.id}}" action="addtask/" style="background-color:#BBB; margin:0">
					<input type="hidden" name="parentID" value={{project.id}}>
					<img src="/static/images/greenplus.png" style="padding:15px">				
					<input type="text" class="span2" id="taskinproject{{project.id}}" name="taskName" placeholder="Start typing here to create a task..."style="width:75%;margin-bottom: 0px;border-right-width: 0px;padding-right: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;"><button class="btn" type="submit" onclick="addTask({{project.id}}); return false;" style="width:120px;padding-left: 0px;border-left-width: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-top-left: 0px; border-top-left-radius: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-bottom-left: 0px; border-bottom-left-radius: 0px;">Add Task</button>
				</form>
			</div>
		
		<span id="tasksForProject{{project.id}}">
			{% for task in project.task_set.all %}		
			<form id="taskFormEdit{{task.id}}" action="edittask/" actionDelete="deletetask/" style="background-color:white; height:50px; display:table-row">				
				<div style="display: table-cell; padding:10px; border-style: dotted; border-width: thin "><img src="/static/images/taskicon.png"></div>
				<div id="task{{task.id}}" name="taskName" style="width:580px; display: table-cell; border-style: dotted; border-width: thin; padding:20px; font-weight: bold">{{task.name}}</div>
				<div class="btn-group" style="display: table-cell; border-style: dotted; border-width: thin; padding:10px"> 
					<button class="btn" id="task{{task.id}}buttonS" type="submit" onclick="editTask({{task.id}});" disabled><img src="/static/images/save.png" alt="Save"></button>					
					<button class="btn" id="task{{task.id}}buttonE" type="button" onclick="enableEdit('task{{task.id}}');"><img src="/static/images/edit.png" alt="Edit" ></button>
					<button class="btn" type="button" onclick="deleteTask({{task.id}});"><img src="/static/images/delete.png" alt="Delete"></button>				
				</div>
			</form>
		
			{% endfor %}
		</span>
			
		</div>		


		{% endfor %}
		
	{% else %}
		<p>No Projects are available.</p>
	{% endif %}
	
	</div>
	<br>
	<div class="container" align=center>
	<form id="projectFormAdd" action="addproject/">				
				<span id="AddProject" style="visibility:hidden">				
				<input type="text" class="span2" id="projectName" name="projectName" placeholder="Enter name of new project..." style="width:670px; height:40px">
				<span class="btn-group"> 					
					<button class="btn-large" type="submit" onclick="addProject(); return false;"><img src="/static/images/save.png" alt="Add"></button>		
					<button class="btn-large" type="button" onclick="document.getElementById('AddProject').style.visibility = 'hidden';"><img src="/static/images/cancel.png" alt="Add"></button>							
				</span>
				</span>
				</form>
		<button class="btn btn-primary btn-large" onclick="document.getElementById('AddProject').style.visibility = 'visible';" align="center">Add TODO List</button>
	</div>
  </body>
</html>



